/* CSS VARIABLES 
==================================================*/

:root {
    --primary: #ddd;
    --dark: #343434;
    --light: #fff;
    --blue: #5d9634; /* this is actually green, too lasy to change everything XD */
    --hover: rgba(89.4, 87.8, 83.1, 0.7);
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.2);
    --primary-color: rgba(20.4, 20.4, 20.4, 0.8); /*button*/ 
    --overlay-color: rgba(20.4, 20.4, 20.4 , 0.95);
    --menu-speed: 0.75s;
}

/* GLOBAL STYLING 
==================================================*/

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {  
    min-height: 100vh; /* need to fix the footer to the bottom */
    position: relative;
    margin: 0;
    background: var(--primary);
    color: var(--dark); 
}

.grid-container {
    padding-bottom: 4rem; /* this will prevent the footer to overlap with the content */
}

.btn {
    background-color: var(--blue);
    color: var(--light);
    padding: 0.3rem 1.3rem; /* 1rem=16px */ 
    text-decoration: none;
    border: 0;
    border-radius: 2px;      
}

.btn:hover {
    background-color: var(--hover);    
}

img {
    width: 100%; /* the image will always fill the box */  
}

h1 {
    font-size: 3.5em;
    text-align: center;
}

h2 {
    font-size: 1.8em;
}

.contact, .must-do {
    border-radius: 6px;
}

/* 
                MAIN GRID CONTAINER 
*/
.grid-container {
  display: grid;
  grid-template-columns: 0.5fr 2fr 2fr 0.5fr;
  grid-template-rows: auto;
  grid-template-areas: 
      "nav nav nav nav" 
      "banner banner banner banner" 
      ". must-do must-do ."
      ". contact contact ."       
      "footer footer footer footer";
  }

/* HEADER - MENU STYLES 
================================================== */

.nav {
    grid-area: nav;    
}

a {
  color: #333;
}

.social-buttons-nav .fa-facebook-f, .fa-envelope {
    padding: 0 3rem 1rem 0;
	color: #5d9634;
}

/* HEADER
================================================== */

.header .fa-facebook-f {
    display: inline-block;
    float: right;   
    padding: 0.9rem 3rem 0 0;
}

.header .fa-facebook-f:hover {
    opacity: 0.8;
}

.header .fa-envelope {
     display: inline-block;
     float: right;   
     padding: 0.9rem 2rem 0 0;
}

.header .fa-envelope:hover { 
    opacity: 0.8;
}

.header .fa-youtube {
     display: inline-block;
     float: right;   
     padding: 0.9rem 2rem 0 0;
}

.header .fa-youtube:hover { 
    opacity: 0.8;
}

.header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3; 
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;    
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header .logo { /* LOGO */ 
  display: block;
  float: left;  
  padding: 0.3rem 0 0 1rem; 
  margin-left: 0;       
  text-decoration: none;  
}

/* MENU 
================================================== */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
  text-align: center; /* new code centers menu in mobile */
  text-transform: uppercase;     
}

#booknow {
    background-color: var(--blue);
    color: #fff;
}

#booknow:hover {
    background-color: azure;
    color: #333;
} 


/* MENO ICON
================================================== */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 1.1rem;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* MENU BTN
================================================== */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 230px; /* THIS CHANGES THE HEIGHT OF THE MENU */
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* BANNER 
================================================== */

.banner { 
    grid-area: banner;    
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2); /* this will create a shadow over the image banner*/
    color: var(--light);
    margin-top: 3.6rem; /* this moves the banner below the nav */
    height: 75vh;
    background-size: cover;
    background-position: center;
    padding: 3rem;
    display:flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;        
}

.banner .btn {
    font-size: 1.5rem;
}

/* BANNER - VIDEO
================================================== */

.banner {
  position: relative;
  overflow: hidden;
}

.banner__video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  min-width: 100%;
  height: auto;
  min-height: 100%;
  transform: translateX(-50%) translateY(-50%);
  z-index: -1;
}

@media (max-width: 767px) {
    .banner__video {
        display: none;
    }
    
.banner {
    background: url('poster.jpg');
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2); /* this will create a shadow over the image banner*/
    color: var(--light);
    margin-top: 3.6rem; /* this moves the banner below the nav */
    height: 70vh;
    background-size: cover;
    background-position: center;
    padding: 3rem;
    display:flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;    
 }
    
}

/* MUST DO HIKES 
================================================== */

.must-do {
      grid-area: must-do;
      display: grid;
      text-align: center;
      background: var(--light); 
      box-shadow: var(--shadow);
      margin-top: 1rem;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      grid-template-areas: 
          "title title" 
          "geres douro"; 
}

.title { 
    grid-area: title;    
    padding: 0 1rem;    
    
}

.geres { 
    grid-area: geres; 
    background: var(--light);     
    padding: 0 0.5rem 1.2rem 0;    
}

.douro {
    grid-area: douro; 
    background: var(--light);     
    padding: 0 0 1.2rem 0.5rem;     
}

/* CONTACT 
==================================================*/

.contact {
    grid-area: contact;
    background: var(--light);   
    padding: 1rem;
    box-shadow: var(--shadow);
    margin: 1rem 0 1rem 0.5rem;
}

.contact img {
    display: block;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    width: 30%; 
}

.social-buttons .far {
    padding: 0 3rem 1rem 0;
    
}

.contact h2, h3 {
    text-align: center;
}

.contact p {
    text-align: center;    
}

.social-buttons .fa-envelope:hover { 
    opacity: 0.8;
}

.social-buttons .fa-facebook-f:hover { 
    opacity: 0.8;
}

/* FOOTER 
 ==================================================*/

.footer {
    grid-area: footer;
    background: var(--dark);    
    height: 3rem;    
    position: absolute;
    bottom: 0;
    width: 100vw;    
} 

.footer p {
    color: var(--light);
    text-align: right; 
    padding-right: 3rem;
}

/* MEDIA QUERIES 
 ==================================================*/

@media (min-width: 1025px) {
      
	.header li {         
       display: inline-block;
       text-align: center;
       margin-left: -4px;       
      }
         
    .logo {
        float: left;
        width: 8rem; /* this will make the menu center. change it when needed */
        padding: 0;
    }
      .header li a {
        padding: 20px 30px;
      }
      .header .menu {
        clear: none;       
        max-height: none; 
      }
    
      .header .menu-icon {
        display: none;
      }
   
}

@media (max-width: 1024px){  
    .grid-container {         
        grid-template-columns: 1fr;
        grid-template-areas:
            "nav nav"
            "banner banner"
            "must-do"
            "contact"             
            "footer";
    }       
        
    h1 {
    font-size: 2em;
    text-align: center;
    }
    
    .banner .btn {
    font-size: 1rem;
    }   

   .must-do {
      grid-area: must-do;
      margin: 0 0 0 0;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      grid-template-areas: 
          "title title" 
          "geres douro";  
    }     
    
    .must-do { 
      margin: 0.5rem 0.5rem 0 0.5rem; 
    }
    
    .contact img {
        width: 50%; 
    }

       .contact {
        margin: 0.5rem;
    }

       .footer p {
        text-align: center;

    }

} 

@media (max-width: 500px){
      .grid-container {  
        grid-template-columns: 1fr;
        grid-template-areas:
            "nav"
            "banner"
            "must-do"          
            "contact"                   
            "footer";
    }   
    
    .must-do {
          grid-area: must-do;
          margin: auto;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: auto;
          grid-template-areas: 
            "title" 
            "geres"
            "douro";  
        }     
   
    .banner h1 {
        font-size: 1.5em;        
        text-align: center;
   }
    .banner .btn {
        font-size: 1.2em;
    }
        
    .must-do {
        grid-template-columns: 1fr;       
        text-align: center;
        margin: 0.5rem;         
    }    
    
    .geres, .douro {
        padding: 0 0 1.2rem 0;
    }
    
    .contact {
        margin: 0.5rem;
    }
    
    .contact img {
        display: block;
        border-radius: 50%;
        margin-left: auto;
        margin-right: auto;
        width: 80%; 
}
    .footer {
        display: flex;        
        align-items: center;
        padding: 2em;        
    }    
    
    .footer p {
        color: var(--light);    
        align-items: center;
        padding: 1rem;
    }
} 























































































