/* VARIABLES 
========================================== */

:root {
    --primary: #ddd;
    --dark: #161B21;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.2);
    --hover: rgba(89.4, 87.8, 83.1, 0.7);    
    --yellow: #fccd04;  
    --blue: #008CBA; 
    --darkgray: #464545;
}

/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* GLOBAL STYLING 
========================================== */

* {
    box-sizing: border-box;
}

*:before, *:after {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background: var(--primary);
    color: var(--dark);   
    position: relative;
    padding-bottom: 3rem;  /* 3rem is the size o the footer */
    min-height: 100vh;  /* this makes the content fill the entire space */  
}

.grid-container {
    padding-bottom: 3rem; /* this will prevent the footer to overlap with the content */
 }

img {
  max-width: 100%;
  height: auto;  
 }

#picture {
     border-radius: 50%;
}

h1 { 
  text-align:center;
  font-size: 3rem;
  font-weight: 500;	
}

/* NAV BAR 
========================================== */

.nav {
    grid-area: nav; 
    margin-bottom: 3.2rem;   
}

a {
  color: #464545;
}

/* HEADER 
================================================== */

/* EMAIL
================================================== */

.btn { 
    display: inline-block;
    float: right;   
    padding:  0;  
    cursor: pointer; 
    background-color: var(--blue);
    color: #fff;
    border: none;
}

.btn:hover {
    color: var(--dark);
}

.addMore{
  border: none;
  width: 32px;
  height: 32px;
  background-color: #eee;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
}
.addMore:hover{
  border: 1px solid #888;
  background-color: #ddd;
}

/* LIST
================================================== */

.header {
  background-color: var(--blue);
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3; 
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: var(--blue);  
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #999;
  text-decoration: none;  
  color: #fff;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: var(--yellow);
    color: var(--dark);
}

.header .logo { /* LOGO */ 
  display: block;
  float: left;  
  padding: 0.7rem 0 0 1rem; 
  margin-left: 0;       
  text-decoration: none; 
  font-size: 2rem;
  color: #fff;
}

.logo:hover {
    color: var(--yellow);
}

#linkedin {      
    float: right;
    padding: 0.6rem 2.5rem 0.5rem 1rem;
    fill:#fff;
}

#email {  
    display: inherit;
    float: right;
    padding: 0.7rem 1rem 0.5rem 2rem;
    fill:#fff;
}

#linkedin:hover, #email:hover {
    fill:var(--yellow);    
}

#linkedin1 {      
    padding: 1rem;
    fill: var(--blue);
}

#email1 {      
    margin: 0;
    padding: 1rem;  
    fill:var(--blue);
    background-color: transparent; /* removes the blue background */
}

#linkedin1:hover, #email1:hover {
    fill:var(--yellow);  
    stroke:var(--blue);
}

.align-buttons {
    display:flex;
    justify-content: center;
    align-items: center; 
	
}

/* MENU 
================================================== */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
  text-align: center; /* new code centers menu in mobile */
  text-transform: uppercase;     
}

/* MENO ICON
================================================== */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #fff;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 1.1rem;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #fff;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* MENU BTN
================================================== */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 177px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* GRID CONTAINER 
========================================== */

.grid-container {
  display: grid;
  align-items: center;
  padding: 0;    
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
	  'nav nav nav nav'
      'me me about about'
	  'footer footer footer footer'
}

.me {
	grid-area: me;
    text-align: center;
    align-items: center;     
	display: grid;
    background-color: var(--yellow); 
    padding: 3rem;     
	min-height: calc(100vh - 6.2rem);	
   
}

.me h1 {
	font-size: 3em;    
}

.me img {
    display: block;
    border-radius: 70%;
    margin-left: auto;
    margin-right: auto;
    width: 70%; 
}

.about {
    grid-area: about;
    display: grid;         
    margin: 1rem 0.5rem 0.5rem 0.5rem;
    padding: 1rem;    
}

.about h1 {
    font-size: 3em; 
    text-shadow: 1px 1px 5px #FFF;
    color: var(--dark);
    text-align: left; 	
}

.about p {
    font-size: 1.2em;
    text-align: justify;

}

/* FOOTER
========================================== */

.footer {
    grid-area: footer;
    background: var(--dark);    
    height: 3rem;      
    position: absolute; /* position is absolute and relative to the body */ 
    bottom: 0;
    width: 100%; 
} 

.footer p {
    color: var(--light);
    text-align: right; 
    padding-right: 3rem;
}

/* MEDIA QUERIES 
 ==================================================*/

/* MENU FOR DESKTOP 
 ==================================================*/

@media (min-width: 1025px) {
      
     .header li {         
       display: inline-block;
       text-align: center;
       margin-left: -4px;       
      }
         
    .logo {
        float: right;
        padding: 1rem;
    }
      .header li a {
        padding: 20px 30px;
      }
      .header .menu {
        clear: none;       
        max-height: none;
        float: right;
      }
    
      .header .menu-icon {
        display: none;
      }   
}

/* MOBILE 
 ==================================================*/

@media (max-width: 1024px){           
 
    .grid-container {      
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-template-areas: 
          'nav' 
          'me'
          'art'          
          'footer';
}
    
   .me {
    	min-height: 250px;
    	padding: 1rem; 
    	color: var(--dark);   	
    }
    
    .me img {
        margin-bottom: 2rem;
        width: 55%; 
    }

    .me h1 {     	
    	font-size: 2.2rem;
        font-weight: 500;   	
    } 

    .art {
        margin: 0;
        min-height: 500px; 
		}
    .art p {
        font-size: 1.2em;
    }
	
    h1 { 
	  text-align:center;
	  font-size: 2.2rem;
	  font-weight: 500;	
    } 	

}

@media (max-width: 768px) {

    .grid-container {      
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-template-areas: 
          "nav" 
          'me'
          'art'         
          "footer";
}

    .me {
    	min-height: 250px;
    	padding: 1rem; 
    	color: var(--dark);   	
    }
    
    .me img {
        margin-bottom: 2rem;
    }     
    		
}
